<% unless User.current.login == '' %>
	<%
		sponsor_field_id = 2
		is_sponsor = true if User.find_by_sql(["select * from custom_values where custom_field_id = 2 AND value = ?",User.current.login]).length > 0
	%>
	<% if is_sponsor || User.current.admin? %>
		<div id="my-users" class="autoscroll">
			<hr>
			<p class="bold">Here are the users you are sponsoring:</p>
			<table class="list">
				<thead><tr>
					<% if User.current.admin? %>
						<th><%= UserCustomField.find(sponsor_field_id).name %></th>
					<% end %>
					<th><%= l(:field_name)         %></th>
					<th><%= l(:field_mail)         %></th>
					<th><%= l(:label_group_plural) %></th>
				</tr></thead>
				<tbody>
					<%
						if User.current.admin?
							sponsored_users = User.find_by_sql(["
								SELECT u.*, cv.value
								FROM users u
									JOIN custom_values cv ON u.id=cv.customized_id
								WHERE
									u.status<>3
									AND cv.custom_field_id=?
								ORDER BY cv.value,u.firstname,u.lastname
								", sponsor_field_id])
						else
							sponsored_users = User.find_by_sql(["
								SELECT u.*, cv.value
								FROM users u
									JOIN custom_values cv ON u.id=cv.customized_id
								WHERE
									u.status<>3
									AND cv.custom_field_id=?
									AND cv.value=?
								ORDER BY u.firstname,u.lastname
								", sponsor_field_id, User.current.login])
						end
						sponsored_users.each do |user|
					%>
						<tr>
							<% if User.current.admin? %>
								<% sponsor = User.find_by_login(user.value) %>
								<% if sponsor.nil? %>
									<td class="username"><%= user.value %></td>
								<% else %>
									<td class="username"><%= avatar(sponsor, :size => "14") %>
										<%= link_to sponsor.firstname + " " + sponsor.lastname, edit_user_path(sponsor) %>
									</td>
								<% end %>
								<td class="username"><%= avatar(user, :size => "14") %><%= link_to user.firstname + " " + user.lastname, edit_user_path(user) %></td>
							<% else %>
								<td class="username"><%= avatar(user, :size => "14") %><%= link_to user.firstname + " " + user.lastname, user_path(user) %></td>
							<% end %>
							<td class="email"   ><%= mail_to(user.mail, user.mail.split("@").last) %></td>
							<td>
								<%
									user_groups = user.groups
									groups= ""
									user_groups.each do |group|
										if groups.empty?
											groups <<        group.lastname
										else
											groups << ", " + group.lastname
										end
									end
								%>
								<%= groups %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>
<% end %>
